* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameSearch {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background: rgba( 255, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#game {

    width: 500px;
    text-align: center;
    border-radius: 5px;

}

#listGame {

    width: 500px;
    text-align: center;

}

.gameInfo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    min-width: 100vw;
    gap: 10px;
    background: rgba(238, 0, 255, 0.13);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gameImg img{

    width: 30vw;
    border-radius: 20px;   
}